{% extends 'base.html' %}
{% block content %}
<h1>Créer un compte</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="form-field">
        {{ form.username.label }}
        {{ form.username() }}
    </div>
    <div class="form-field">
        {{ form.email.label }}
        {{ form.email() }}
    </div>
    <div class="form-field">
        {{ form.role.label }}
        {{ form.role() }}
    </div>
    <div class="form-field">
        {{ form.password.label }}
        {{ form.password() }}
    </div>
    <div class="form-field">
        {{ form.confirm.label }}
        {{ form.confirm() }}
    </div>
    <div class="form-actions">
        {{ form.submit(class_='button') }}
    </div>
</form>
{% endblock %}
